<div class="container">
  <form #authorForm="ngForm" (ngSubmit)="submit(); authorForm.reset()">
    <h3>Podaj dane pisarza</h3>
    <div class="form-group">
      <label for="firstName">Imię:</label>
      <input type="text" class="form-control" id="firstName" required
             name="firstName" [(ngModel)]="model.firstName" #firstName=ngModel>
      <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">Musisz podać imię!</div>
    </div>
    <div class="form-group">
      <label for="lastName">Nazwisko:</label>
      <input type="text" class="form-control" id="lastName" required
             name="lastName" [(ngModel)]="model.lastName" #lastName=ngModel>
      <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">Musisz podać nazwisko!</div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!authorForm.form.valid">Zapisz</button>
  </form>
</div>
